.account-page {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  overflow: hidden;
}

@media (min-width: 767px) {
  .account-page {
      width: 400px;
  }
}

.account-title {
  display: flex;
  cursor: default;
  font-size: var(--font-xl);
  font-weight: bold;
  color: var(--color-gold);
  margin-bottom: 5px;
  margin-left: 10px;
}


.account-form {
  padding: 15px 15px 15px 15px;
  background-color: var(--color-dark);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.13), 0px 1px 1px 0px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}

.account-pass {
  margin-top: 25px;
}

.account-logout {
  margin-top: 25px;
}

.account-space {
  padding-top: 25px;
}

.account-error {
  margin-top: 25px;
}

.account-success {
  margin-top: 25px;
}

.account-external {
  color: var(--color-white);
  text-align: center;
}