.page {
    grid-area: page;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 100%;
    overflow: hidden;
}

.page-title {
    cursor: default;
    margin-left: 10px;
    font-size: var(--font-xl);
    font-weight: bold;
    color: var(--color-white);
}

.page-loading {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}