.stats-break {
  border-width: 1px;
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.popularity-item {
  display: grid;  
  grid-template-areas: "position change views";
  grid-template-columns: 150px 150px 150px;
}